{% extends 'login_base.html' %} 
{% load static %} 

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
<style>
    .full-height {
        min-height: 100vh; /* Full height of the viewport */
        max-height: 100vh; /* Prevents it from getting any taller than the viewport */
        overflow: hidden; /* Prevents scrolling */
    }

    .img-container {
        background-image: url("{% static 'image/stock/shutterstock_719464702-1-scaled.jpg' %}");
        background-size: cover; /* Cover the entire div */
        background-position: center; /* Center the background image */
        height: 100vh; /* Make the image container the full height of the viewport */
    }
</style>
{% endblock %} 

{% block content %}
<div class="container-fluid h-100 full-height">
    <div class="row h-100">
        <!-- Apply the d-none class to hide on all devices, then use d-md-block to show on medium devices and larger -->
        <div class="col-md-6 p-0 img-container d-none d-md-block">
            <!-- Image set as background to fit the container -->
        </div>
        <div
            class="col-12 col-md-6 d-flex align-items-center justify-content-center"
            style="background-color: white"
        >
            <div>
                <div class="logo-container text-center mb-4">
                    <img
                        src="{% static 'image/DECEP_logo_vertical.png' %}"
                        alt="Application Logo"
                        width="150"
                        height="auto"
                    />
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input
                            type="text"
                            class="form-control"
                            name="email"
                            placeholder="E-mail"
                            required
                        />
                    </div>
                    <div class="mb-3">
                        <input
                            type="password"
                            class="form-control"
                            name="password"
                            placeholder="Contraseña"
                            required
                        />
                    </div>
                    <div class="d-grid gap-2 mb-3">
                        <button type="submit" class="btn btn-danger">
                            Iniciar sesión
                        </button>
                    </div>

                    <hr />
                    <p class="text-center">
                        ¿Olvidó su contraseña?
                        {% comment %} <a href="{% url 'authentication:forgotten_password' %}" {% endcomment %}
                            {% comment %} >Reestablecer contraseña</a {% endcomment %}
                        {% comment %} > {% endcomment %}
                    </p>
                    <p class="text-center">
                        ¿Ya tiene una cuenta?
                        {% comment %} <a href="{% url 'register:register' %}">Registrarse</a> {% endcomment %}
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
